main {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}

.container-search {
    padding-top: 10px;
    display: flex;
    justify-content: end;
}

.search {
    background-color: #ffffff;
    width: 30%;
    height: 40px;
    border-radius: 100px;
}

.container-search input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 0px 20px;
    font-size: medium;
}

.container-search input:focus {
    outline: none;
}

.test {
    display: flex;
    width: 100%;
    gap: 20px;
}

.container-data {
    width: 70%;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* justify-content: space-between; */
}

.sub-container-4 {
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    width: 100%;
    background-color: #ffffff;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.sub-container-5 {
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    width: 100%;
    background-color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sub-container-5 .btttn {
    gap: 10px;
    display: flex;
}

.sub-container-5 .btn-delete, .btn-edit {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.sub-container-5 .btn-edit {
    background: linear-gradient(244deg, #222421 0%, #525252 100%);
}

.sub-container-5 .btn-delete {
    background-color: red;
}

.sub-container-4 h2 {
    text-align: center;
}

.sub-container-4 .bttn {
    margin-top: 20px;
    background: linear-gradient(244deg, #222421 0%, #525252 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
} 